{% extends 'base/base.html' %}
{% block meta %}
{% load static %}
{% endblock %}
{% block title %} AI-Teacher {% endblock %}

{% block content %}

<div class="container-fluid p-5 bg-secondary vh-100">
    <div class="container bg-white border border-primary p-5">
        <h1>Quieres empezar?</h1>
        <div class="container bg-white border border-success my-2 p-5"><img src="{% static 'main/demo.png' %}"
                class="img-fluid">
        </div>
        <a href="solver/" class="btn btn-success btn-lg" role="button" aria-pressed="true">Empieza ahora</a>
    </div>
</div>

{% endblock %}
