{% extends 'base/base.html' %}
{% block meta %}
{% load static %}
{% endblock %}
{% block title %} ¿Quienes somos? {% endblock %}

{% block content %}

<div class="container-fluid p-5 bg-secondary vh-100">
    <div class="container bg-white border border-primary p-5">
        <div class="row">
            <div class="col-sm">
                <img src="{% static 'main/images/collagef.png' %}" class="img-fluid">
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <h1>Somos un grupo de estudiantes de ingieneria de sistemas motivados por la inovacion en la manera de
                    enseñar, por esto surgio la idea de AI-Teacher para en el proceso de aprendizaje corregir errores y
                    aprender del proceso.</h1>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Apoyanos!!!</h4>
                        <p class="card-text">Vota por nosotros y aprende a utilizar nuestra herramienta.</p>
                        <hr>
                        <a href="https://docs.google.com/forms/d/e/1FAIpQLScKrFQl_SwsI0foceYc6C07D4-OzBa_Y0-IopOZLdePGKNYMw/viewform"
                            class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Vota!!!</a>
                        <a href="https://www.youtube.com/watch?v=842xVvBXt7c&feature=youtu.be"
                            class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Aprende
                            a usar AI-Teacher</a>
                    </div>
                </div>

            </div>
            <div class="col-">
                <img src="{% static 'main/images/andes_icon.svg' %}" class="img-fluid">
            </div>
        </div>

    </div>

</div>

{% endblock %}
