{% extends 'base/base.html' %}
{% block meta %}
{% load static %}
{% endblock %}
{% block title %} Caracteristicas {% endblock %}

{% block content %}


<div class="container-fluid p-5 bg-secondary vh-100">
    <div class="d-flex justify-content-center m-5 p-5">
        <h1>Librerias y herramientas usadas.</h1>
    </div>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="d-flex justify-content-center p-5">
                    <div class="card" style="width: 20rem;">
                        <div class="container p-4" style="width: 200px; height: 200px;">
                            <img src="{% static 'main/django_icon.svg' %}" class="card-img-top">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Django</h5>
                            <p class="card-text">Django es un framework web orientado en python.</p>
                            <a href="https://www.djangoproject.com/" class="btn btn-primary">Go Django</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="d-flex justify-content-center p-5">
                    <div class="card" style="width: 20rem;">
                        <div class="container p-4" style="width: 200px; height: 200px;">
                            <img src="{% static 'main/django_icon.svg' %}" class="card-img-top">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Django</h5>
                            <p class="card-text">Django es un framework web orientado en python.</p>
                            <a href="https://www.djangoproject.com/" class="btn btn-primary">Go Django</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="d-flex justify-content-center p-5">
                    <div class="card" style="width: 20rem;">
                        <div class="container p-4" style="width: 200px; height: 200px;">
                            <img src="{% static 'main/bootstrap_icon.svg' %}" class="card-img-top">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Bootstrap</h5>
                            <p class="card-text">Bootstrap es una biblioteca de diseño basado en css.</p>
                            <a href="https://getbootstrap.com/" class="btn btn-primary">Go Bootstrap</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
{% endblock %}
